
body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#c1eaf6;
	border-bottom:#97d2e3 3px solid;
	height:80px;
	width:100%;
	padding-top:20px;
	margin: auto;
}

.main-header{
			text-align:center;
			background-color: #2d61b5;
			height:60px;
			width:100%;
			margin:0px;
}

header h2{
	text-align:left;
	color:#63a8d2;
	margin: 5px;
}

header h3{
	text-align:left;
	color:#2D3F40;
	margin: 5px;
}

.btn-info {background-color: #CEE8E9;
	height:30px;
	width:150px;}
.btn-info:hover {background: #ed7168;}

.results{
	border-radius: 15px 50px;
    background: #f4f3f3;
    padding: 30px;
    width: auto;
    height: auto;
    font:	12px/1.5 monospace;
  }

.table thead th{
	vertical-align:bottom;
	border-bottom:1px solid #dee2e6;
	font:12px/1.5 monospace
}
.table-striped tbody tr:nth-of-type(odd){
	background-color:rgba(0,0,0,.05);
	border:1px solid #dee2e6;
	padding:.3rem;
	font:12px/1.5 monospace
}
.table-hover tbody tr:hover{
	background-color:rgba(0,0,0,.075)
}
