  
body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header{
	background:#678cb4;
	border-bottom:#448AFF 3px solid;
	height:100px;
	width:100%;
	padding-top:30px;
	margin: auto;
}

.main-header{
			text-align:center;
			background-color: #2d61b5;
			height:60px;
			width:100%;
			margin:0px;
}

header h2{
	text-align:left;
	color:#CEE8E9;
	margin: 5px;
}

header h3{
	text-align:left;
	color:#2D3F40;
	margin: 5px;
}

.btn-info {background-color: #CEE8E9;
	height:40px;
	width:100px;}
.btn-info:hover {background: #ed517a;}

.resultss{
	border-radius: 15px 50px;
    background: #345fe4;
    padding: 20px; 
    width: 200px;
    height: 150px;
}
