<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
	<header>
	<div class="container">
		<h2>Spam Detector For SMS Messages</h2>
		<h3>A Machine Learning App That Explains It All</h3>
	</div>
	</header>
	<body>
		An open source project that sheds light into what happens behind the scenes when machine-learining algorithms are deployed.
	<div class="ml-container">
	<form action="{{url_for('predict_spam')}}" method="POST">
		<br><br>
		<p><center>Please write a nice message... or not:</center></p>
		<center><textarea name="message" rows="6" cols="100"></textarea></center>
		<br>
		<center><img src="./static/img/KeepCalmAnd.PNG" alt="KEEP CALM AND CARRY ON" width=180></center>
		<center><input type="submit" class="btn-info" value="PREDICT SPAM"></center>
		<br>
		<center>Prediction times may vary: a lot is happening behind the scenes.</center>
	</form>
	</div>
<footer>
	<div>
		<ul>
			<br><br><br><br>
			<p style="font-size:9px">By UK Government - Digital scan of original KEEP CALM AND CARRY ON poster owned by wartimeposters.co.uk. Public domain, via <a href="https://commons.wikimedia.org/wiki/File:Keep-calm-and-carry-on-scan.jpg">Wikimedia Commons</a>, Cropped from Orignial</p>
		</ul>
	</div>
</footer>
</body>
</html>
