<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">	
</head>
<body>
	<header>
	<div class="container">
		<h2>Spam Detector For SMS Messages</h2>
		<h3>A Machine Learning App with Flask</h3>
	</div>
	</header>
	<div class="ml-container">
		<form action="{{url_for('predict_fun')}}" method="POST">
		<p>Enter A Message:</p>
		<textarea name="message" rows="4" cols="50"></textarea>
		<br/>
		<input type="submit" class="btn-info" value="Predict!">
	</form>
	</div>
</body>
</html>